.portfolio__container {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

}


.portfolio__item {

    background: var(--color-bg-variant);
    padding: 1.2rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);

}

.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background: transparent;

    background: rgba( 77, 181, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
    border-radius: 2rem;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.portfolio__item-image {
    border-radius: 1.5rem;
    overflow: hidden;

}

.portfolio__item h3 {

    margin: 1.2rem 0 2rem;
}

.portfolio__item-cta{

    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}


@media screen and (max-width: 1024px){

    #portfolio{

        margin-top: 30rem;
    }

    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }

}



@media screen and (max-width: 600px){

    #portfolio{

        margin-top: 70rem;
    }

    .portfolio__container{

        grid-template-columns: 1fr;
        gap: 1rem ;
    }


}

@media screen and (max-width: 450px){


    #portfolio{

        margin-top: 55rem;
    }

}